includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 5

  paths:
    - app
    - tests

  excludes:
    - bootstrap/*
    - storage/*
    - vendor/*

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Support\\.+#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::.+#'
    - '#Property [^ ]+ does not accept Illuminate\\Support\\Collection\..+#'

  scanFiles:
    - _ide_helper.php
    - _ide_helper_models.php

  reportUnmatchedIgnoredErrors: false
